
  body, h4, p{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
  
  
  header, main{
    padding: 0 30px;
  }
  nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6DE4EA;
    padding:  10px  0 10px 0;
    
  }
  #logon{
    text-decoration: solid;
    font-family: 'Cinzel Decorative';
    color: #18A0FB;
    font-weight: 700;
    font-size: 30px;
    width: 60px;
    height: 32px;
  }
  ul.menu{
    margin-left: 200px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap:40px
  }
  nav a{
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    letter-spacing: 0.015em;
  }
  a{
    text-decoration: none;
    color: #18A0FB;
  }
  
  
  
  .barra{
    display:flex;
  }
  nav button{
    width: 20%;
    height: 2.25rem;
    border-radius: 6px 0px 0px 6px;
    background: #18A0FB;
    color: #FFFFFF;
    border-style: none;
  }
  nav input{
    width: 233px;
    height: 2rem;
    border-radius: 0px 6px 6px 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #18A0FB
  }
  
  
  
  

  
  #hr2{
    margin-left: 47%;
    margin-right: 47%;
    border: 3px solid #6DE4EA;
    border-radius: 10px;
  }
  
  
  
  
  .titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
  }
  .titulo h2{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
  }
  .titulo a{
    font-size: 24px;
  }
  
  
  .posts{
    display: flex;
    justify-content: space-around;
  }
  .columna{
    flex-direction: column;
  }
  .espacio-abajo{
    margin-bottom: 50px;
  }
  
  
  
  .ptitulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0 0;
  
  }
  .ptitulo h4{
    font-size: 24px;
  }
  .ptitulo p{
    font-size: 18px;
  }
  
  
  
  .author-aminago{
    display: flex;
    font-size: 14px;
    padding: 10px 0 20px 0;
  }
  .author{
    color: #6DE4EA;
    margin-right: 15px;
  }
  .aminago{
    color: #00000080
  }
  
  
  #imggran{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%; 
    height: 525px;
  }
  .imgtam{
    border-radius: 5px;
    width: 600px;
  }
  .articulo1{
    border: 1px solid grey;
    border-radius: 10px;
    width: 600px;
    
  }
  .contenido{
    margin-left: 35px; margin-right: 35px; margin-bottom: 50px;
  }
  section{
    margin-bottom: 100px;
  }
  
  
  
  .articulo2{
    border: 1px solid grey;
    border-radius: 10px;
    width: 463px;
  }
  .articulo2 .imgtam{
    border-radius: 10px;
    width:463px;
    height: 206px;
  }
  .articulo2 .ptitulo h4{
    font-size: 18px;
  }
  .articulo2 .ptitulo p{
    font-size: 12px;
  }
  .articulo2 .author-aminago{
    display: flex;
    font-size: 12px;
  }
  .articulo2 p{
    font-size: 12px;
  }
  
  
  
  
  .articulo3{
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    width: 800px;
    border-radius: 10px;
  }

  .articulo3 .contenido{
    padding: 0px 15px 0px 15px;
  }


  .lorem{
    padding: 30px 0 0 0;
  }
  
  
  footer{
    background-color:#000000CC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  footer a{
    text-decoration: none;
    color: #FFFFFF;
  
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
  
  }
  #copyright{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: right;
    }
  
  
  
  #logof{
    text-decoration: solid;
    font-family: 'Cinzel Decorative'  ;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
  
  
    font-weight: 700;
    line-height: 48.53px;
    letter-spacing: -0.015em;
    text-align: center;
  
  }
  
  ul.foot{
    margin-left: 200px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap:100px
  }
  