body, h4, p,h2, hr{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
header, main{
    padding: 0 30px;
  }
a{
    text-decoration: none;
    color: #18A0FB;
  } 
.logo{
    text-decoration: solid;
    font-family: 'Cinzel Decorative';
    font-weight: 700;
    font-size: 30px;
    width: 60px;
    height: 32px;
  }

nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6DE4EA;
    padding:  10px  0 10px 0;
    
  }
nav .logo{
    color: #18A0FB;
  }
ul.menu{
    margin-left: 200px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap:40px
  }
nav a{
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    letter-spacing: 0.015em;
  }

.barra{
    display:flex;
  }
nav button{
    width: 20%;
    height: 2.25rem;
    border-radius: 6px 0px 0px 6px;
    background: #18A0FB;
    color: #FFFFFF;
    border-style: none;
  }
nav input{
    width: 233px;
    height: 2rem;
    border-radius: 0px 6px 6px 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #18A0FB
  }

.column{
  display: flex;
}

main{
  width: 70%;
}

.Table-of-contents{
  width: 30%;
}

.Table-of-contents h3{
  font-size: 28px;
  border-left: 1px solid #6DE4EA;
  padding-left: 20px;
  margin-top: 120px;
}

.Table-of-contents ul{
  list-style: none;
  color: #18A0FB;
  font-size: 15px;
  font-weight: 420;
  padding-left: 20px;
}

.Table-of-contents li{
  margin-bottom: 15px;
}
.third{
  margin-left: 20px;
}


.fourth{
  margin-left: 30px;
}


.big{
  width: 100%;
}

.blue{
  color: #18A0FB;
}

.light-blue{
  color: #6DE4EA;
}

.gray{
  color:#00000080;
  
}

.post-tittle{
  margin-top: 40px;
  margin-bottom: 15px;
  display: flex;
  align-items: left;
  gap: 5px;
}

.Tittle{
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 300;
}

.Tittle hr{
  width: 15px;

}

.link{
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}

.link hr{
  border-color: gray;
  border: 0.5px solid grey;
}


.lorem{
  margin: 20px 0 0 0;
}

.ultima{
  margin-bottom: 30px;
}

.hr-lorem{
  border: 1px solid #6DE4EA;
  margin: 40px 0px;
}




.share-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}


.icons{
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons img{
  width: 32px;
  height: 32px;
}

.icons p{
  font-size: 20px;
  font-weight: 450;
}

.buttons{
  width: 30%;
  display: flex;
  justify-content: right;
  gap: 15px;
}

.buttons button{
  border-radius: 20px;
  width: 25%;
  background: #C4C4C480;
  color: #00000080;
  border-style: none;
  font-weight: 15px;
}






.post-container-tittle{
  margin: 20px 0 20px  0;
  font-weight: 500;
  font-size: 18px;
}

.small{
  display: flex;
  width: 90%;
}

.post-container{
  display: flex;
  justify-content: space-between ;
}

.post-container h4{
  margin-top: 10px;

}





.input-container{
  margin-top: 30px;
  width: 66%;
}

.input-container h3{
  font-size: 25px;
  font-weight: 475;
}

.inputs-button{
  display: flex;
  justify-content: space-between; 
}

.inputs-button input{
  display: flex;
  justify-content: space-between;  
  text-align: center;
  border-radius: 6px;
  border-style:solid ;
  border-width: 1px;
}

.first-input{
  width: 20%;
}

.second-input{
  width: 50%;
}

.inputs-button button{
  width: 20%;
  height: 2.25rem;
  border-radius: 6px;
  background: #18A0FB;
  color: #FFFFFF;
  border-style: none;
  font-weight: 15px;
}




.comment-container{
  display: flex;
  background-color: #C4C4C44D;
  border-radius:5px ;
  margin: 20px 0;

}
.user{
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.user img{
  width: 100%;
}
.text-container{
  justify-content: center;
  padding: 25px 0 25px 0px;
}

.text-container p{
  font-size: 14px;
}

.reply-container{
  padding-top: 14px;
  display: flex;
  gap: 15px;
  font-size: 14px;
}




  footer{
    background-color:#000000CC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  footer a{
    text-decoration: none;
    color: #FFFFFF;
  
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
  
  }
  #copyright{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: right;
    }
  
  
  
  footer.logo{
    color: #FFFFFF;
  }
  
  ul.foot{
    margin-left: 200px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap:100px
  }
  