body, h4, p,h2, hr{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
header, main{
    padding: 0 30px;
  }
a{
    text-decoration: none;
    color: #18A0FB;
  } 
.logo{
    text-decoration: solid;
    font-family: 'Cinzel Decorative';
    font-weight: 700;
    font-size: 30px;
    width: 60px;
    height: 32px;
  }

nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6DE4EA;
    padding:  10px  0 10px 0;
    
  }
nav .logo{
    color: #18A0FB;
  }
ul.menu{
    margin-left: 200px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap:40px
  }
nav a{
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    letter-spacing: 0.015em;
  }

.barra{
    display:flex;
  }
nav button{
    width: 20%;
    height: 2.25rem;
    border-radius: 6px 0px 0px 6px;
    background: #18A0FB;
    color: #FFFFFF;
    border-style: none;
  }
nav input{
    width: 233px;
    height: 2rem;
    border-radius: 0px 6px 6px 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #18A0FB
  }

.columna{
  width: 70%;
}

.Table-of-contents{
  width: 30%;
}

.Tam{
  display: flex;
  width: 300px;
}

.Post-3{
  display: flex;
}

.post-tittle{
  margin-top: 40px;
  margin-bottom: 15px;
  display: flex;
  align-items: left;
  gap: 5px;
}

.Tittle{
  margin-bottom: 15px;
}

.Tittle hr{
  width: 15px;

}

.link{
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 5px;
  margin-bottom: 15px;
}

.link hr{
  border-color: gray;
  border: 0.5px solid grey;
}




















  footer{
    background-color:#000000CC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  footer a{
    text-decoration: none;
    color: #FFFFFF;
  
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
  
  }
  #copyright{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: right;
    }
  
  
  
  footer.logo{
    color: #FFFFFF;
  }
  
  ul.foot{
    margin-left: 200px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap:100px
  }
  